*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    a:focus{
      outline: none;
    }
    address{font-style:normal;}



h3{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

/* service 부제목 h5로 통일 */
/* section 컨텐츠 간격 padding 80px 0 통일 */


@media (min-width:1440px) {
  .container {
    max-width: 1440px;
  }
}





/*헤더*/


/* service2 */
#service2 {
  position: relative;
  width: 100%;
  padding: 80px 0;
  background: #fff;
  overflow: hidden;
}
#service2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: #FFBD3E;
  bottom: 0;
}

#service2 .service2_wrap {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  margin: 0 auto;
}

#service2 h5 {
  position: relative;
  margin-bottom: 2%;
}
#service2 h5::after {
  content: "";
  background-color: #FF0068;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -50%;
  left: 0;
}
#service2 h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

#service2 .service2_img {
  display: flex;
  width: 100%;
  background: url(../img/artNFT_bg.png) no-repeat;
  background-size: cover;
  padding: 5% 0;
  margin: 3% 0;
  border: 15px solid #fff;
  filter: drop-shadow(0px 7px 9px rgba(0, 0, 0, 0.25)) brightness(110%);
  border-radius: 10px;
}
#service2 .service2_img img {
  max-width: 100%;
}
#service2 .service2_img .img_m {
  display: none;
}
#service2 .service2_text {
  position: relative;
}
#service2 .service2_text p {
  font-weight: 500;
  line-height: 175%;
}

/* service3 */
#service3 {
  width: 100%;
  padding: 80px 0;
  background: #FFBD3E;
  overflow: hidden;
}

#service3 .service3_wrap {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  margin: 0 auto;
}

#service3 .service3_wrap h5 {
  text-align: right;
  position: relative;
  margin-bottom: 2%;
}
#service3 .service3_wrap h5::after {
  content: "";
  background-color: #FF0068;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -50%;
  right: 0;
}

#service3 .service3_wrap .service3_info {
  position: relative;
  width: 100%;
  padding: 4% 10%;
  margin: 5% 0;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
#service3 .service3_wrap .service3_info::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #FF0068;
  bottom: 0;
  right: 0;
}
#service3 .service3_wrap .service3_info h4 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1% 0 3% 0;
}
#service3 .service3_wrap .service3_info p {
  font-weight: 500;
  line-height: 175%;
}

/* service4 */
#service4 {
  width: 100%;
  height: 100vh;
  padding: 80px 0;
  background: #fff;
  overflow: hidden;
}
#service4 .service4_wrap {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  margin-top: 2%;
}
#service4 .service4_wrap h5 {
  position: relative;
  margin-bottom: 2%;
}
#service4 .service4_wrap h5::after {
  content: "";
  background-color: #3366FF;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -50%;
  left: 0;
}
#service4 .service4_wrap h4 {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
#service4 .service4_wrap .service4_img {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(../img/service_online_gallery.png) no-repeat;
  background-size: cover;
  padding: 5% 0;
  margin: 3% 0;
  border: 20px solid #fff;
  filter: drop-shadow(0px 7px 9px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
#service4 .service4_wrap .service4_img::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100%;
  background: url(../img/service4_item.png) no-repeat;
  top: -75%;
  right: 0;
}
#service4 .service4_wrap p {
  font-weight: 500;
  line-height: 175%;
}

/* wallet */
#wallet {
  width: 100%;
  height: 100vh;
  padding: 80px 0;
  background: #F1F1F1;
  overflow: hidden;
  text-align: center;
}
#wallet .wallet_wrap {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  margin-top: 2%;
}
#wallet .wallet_wrap p {
  line-height: 165%;
}

#wallet .wallet_info {
  width: 100%;
  height: 100%;
  margin-top: 4%;
  display: flex;
}
#wallet .wallet_info .wallet_img {
  position: relative;
  width: 550px;
  height: 550px;
  background: url(../img/wallet.jpg) center no-repeat;
  background-size: cover;
  padding: 5%;
  margin: 0 7% 0 5%;
  border: 15px solid #fff;
  filter: drop-shadow(0px 7px 9px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
#wallet .wallet_info .wallet_img::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100%;
  background: url(../img/wallet_item.png) no-repeat;
  top: -65%;
  left: 0;
}

#wallet .wallet_info .wallet_text {
  width: 50%;
  padding: 3% 3%;
  text-align: left;
}
#wallet .wallet_info .wallet_text p {
  background-color: #FBFBFB;
  color: #222;
  padding: 4% 5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  line-height: 165%;
  transition: all 0.2s ease-in-out;
}

#wallet .wallet_info .wallet_text p:hover {
  color: #3366FF;
  font-weight: bold;
  border-bottom: 5px solid #3366FF;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

#wallet .wallet_info .wallet_text button {
  color: #fff;
  background-color: #3366FF;
  padding: 3% 15%;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20%;
  transition: all 0.3s ease-in-out;
}
#wallet .wallet_info .wallet_text button:hover {
  background-color: #193381;
}