
.menu_pc ul li.lang a span.lang_eng, .menu_moblie ul li.lang a span.lang_eng{
  color: #FFD739;
  transition: all .5s;
}

.menu_pc ul li.lang a span.lang_kor {
  color: white;
  transition: all .8s;
}
    
.menu_moblie ul li.lang a span.lang_kor{
  color: black;
  transition: all .8s;
}

.service_br{
  display: none;
}

/*데탑*/
@media screen and (max-width:1440px) {
}



/*노트북*/
  @media screen and (max-width:1024px) {
    .service_wrap .service_txt p br {
      display: none;
    }

    .service_br{
      display: block;
    }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
}



/*모바일*/

@media screen and (max-width:767px) {

}


/*모바일2*/


@media screen and (max-width:576px) {

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {
    
      /*service*/

  .service_wrap .service_img::before{
    height: 240px;
    top: -24%;
    left: 19%;
  }

  .service_wrap .service_img::after{
    top: -24%;
    right: -47%;
    height: 240px;
  }
}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {
 
}
