*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    a:focus{
      outline: none;
    }
    address{font-style:normal;}



h3{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

/* service 부제목 h5로 통일 */
/* section 컨텐츠 간격 padding 80px 0 통일 */


@media (min-width:1440px) {
  .container {
    max-width: 1440px;
  }
}

body{
  overflow-x: hidden;
}



/*헤더*/


.hd_all {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgba(255,255,255,.9);
  padding: 0 5%;
  z-index: 999;
}

.hd_all hgroup {
  width: 100%;
}


.hd_all hgroup h1{
  width: 100%;
}

.hd_all hgroup h1 img{
  max-width: 15%;
}

.menu_pc{
  width: 100%;
}

.menu_pc ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
}

.menu_pc ul li.lang{
  background-color: #FF0068;
  border-radius: 29px;
  padding: 1%;
}

.menu_pc ul li.lang a{
  color: white;
}

.menu_pc ul li.lang a span.lang_kor{
  color: #FFD739;
  transition: all .5s;
}

.menu_pc ul li.lang a span.lang_kor:hover{
  color: #FFD739;
}

.menu_pc ul li.lang a span.lang_eng{
  transition: all .5s;
}

.menu_pc ul li.lang a span.lang_eng:hover{
  color: #FFD739;
}

.menu_pc ul li a{
  text-decoration: none;
  color: black;
  font-weight: 700;
}







/*모바일메뉴*/

.menu_moblie{
  position: relative;
  top: 100px;
  right: 13px;
  background: #FF0068 ;
  width: 6em;
  height: 4em;
  border-radius: 50%;
  cursor: pointer;
  border: 1em solid #f7dc74;
  display: none;
}

.menu_moblie::before{
  content: "";
  width: 100px;
  height: 120px;
  position: absolute;
  top: -63px;
  right: -190%;
  transform: translateY(-50%);
  background: url(../img/mobile_btn_clip.png) no-repeat;
  background-size: contain;
}

.menu_moblie::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1.2em;
  height: 11px;
  border-top: 0.4em double #fff;
  border-bottom: 0.18em solid #fff;
}

.menu_moblie li{
  width: 7em;
  height: 2em;
  padding-top: 3px;
  text-align: center;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: all 1s;
  background: #f7dc74;
  opacity: 0;
  z-index: -1;
}

.menu_moblie:hover li {
  opacity: 1;
}

/* .menu_moblie:hover ul::before{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  left: 50%;
  top: -5.0em;
  border-width: 6.5em;
  border-radius: 0 7.5em 7.5em 0;
  border-left: 0;
  border-style: solid;
  border-color: rgba(0,0,0,0.01);
  z-index: -1;
  cursor: default;
} */

.menu_moblie a {
  color: white;
  text-decoration: none;
  line-height: 1.5em;
}
.menu_moblie a {
  color: white;
  text-decoration: none;
}
.menu_moblie ul { 
  transform: rotate(140deg) translateY(-1.6em) translateX(-.6em);
  transition: 1s all;
}
.menu_moblie:hover ul {
  transform: rotate(0deg) translateY(-.4em) translateX(-1.3em);
}
.menu_moblie li:hover {
  background: #FFA41B;
  z-index: 10;
}

.menu_moblie li:nth-of-type(1) {
  transform: rotate(-90deg);
  position: absolute;
  left: -1.2em;
  top: -4.7em;
}
.menu_moblie li:nth-of-type(2) {
  transform: rotate(-45deg);
  position: absolute;
  left: 2em;
  top: -3.3em;
}
.menu_moblie li:nth-of-type(3) {
  position: absolute;
  left: 3.4em;
  top: 0.3em;
}
.menu_moblie li:nth-of-type(4) {
  transform: rotate(45deg);
  position: absolute;
  left: 2em;
  top: 3.7em;
}
.menu_moblie li:nth-of-type(5) {
  transform: rotate(90deg);
  position: absolute;
  left: -1.2em;
  top: 5em;
}
.menu_moblie li:nth-of-type(6) {
  transform: rotate(135deg);
  position: absolute;
  left: -5em;
  top: 3.5em;
}


/*home*/

#home{
  position: relative;
  height: 1070px;
  width: 100%;
}

.main_vid{
  height: 100%;
}

.main_vid video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: none !important;
}

#home .home_wrap{
  width: 100%;
  height: 100%;
  z-index: 15;
}

#home .home_wrap .home_txt{
  width: 50%;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
  text-align: center;
}

#home .home_wrap .home_txt h2{
  color: white;
  text-shadow: 0 3px 4px rgba(0,0,0,.75);
}

#home .home_wrap .home_txt h1{
  font-size: 10em;
  letter-spacing: -10px;
  font-weight: bold;
  text-shadow: 0 3px 10px rgba(0,0,0,.75);
}

#home .home_wrap .home_txt h1 :nth-child(1){
  color: #FFD739;
}
#home .home_wrap .home_txt h1 :nth-child(2){
  color: #3366FF;
}
#home .home_wrap .home_txt h1 :nth-child(3){
  color: #FFA41B;
}
#home .home_wrap .home_txt h1 :nth-child(4){
  color: #FF0068;
}


.home_txt_button{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto 0;
}

.home_txt_button a{
  width: 100%;
  text-decoration: none;
  display: block;
}

.home_txt_button a:focus{
  outline: none;
}

.home_txt_button button {
  background-color: #3366FF;
  color: white;
  padding: 6% 15%;
  border-radius: 3px;
}





/*project*/


#project{
  width: 100%;
  background-color: #FFD739;
  padding: 80px 0;
}

.project_wrap{
  width: 100%;
}

.prjct_box{
  width: 100%;
  background-color: white;
  padding: 5%;
  border-bottom: 5px solid #FF0068;
}

.prjct_box p{
  line-height: 1.3;
}





/*service*/

#service{
  background-color: #F9F9F9;
  padding: 80px 0;
  text-align: center;
}

.service_wrap{
  width: 100%;
}

.service_wrap .service_img{
  width: 100%;
  margin: 6% 0 3%;
  position: relative;
  z-index: 5;
}

.service_wrap p.service_title_sub{
  font-weight: normal;
}

.service_wrap .service_img::before{
  content: "";
  position: absolute;
  top: -12%;
  left: 12%;
  transform: translate(-50%,-50%);
  width: 220px;
  height: 320px;
  background: url(../img/mobile_btn_clip.png) no-repeat;
  background-size: contain;
  z-index: 1;
}

.service_wrap .service_img::after{
  content: "";
  position: absolute;
  top: -12%;
  right: -8%;
  transform: translate(-50%,-50%);
  width: 220px;
  height: 320px;
  background: url(../img/mobile_btn_clip.png) no-repeat;
  background-size: contain;
  z-index: 1;
}

.service_wrap .service_img img{
  max-width: 100%;
  border: 20px solid white;
  box-shadow: 0 7px 9px rgba(0,0,0,.25);
}

.service_wrap .service_img img.service_m{
  display: none;
}

.service_wrap .service_txt{
  width: 100%;
}

.service_wrap .service_txt p{
  line-height: 1.8;
}

