/*데탑*/
@media screen and (max-width:1440px) {

  /* home */


  .main_vid {
    width: auto;
    height: 100%;
  }

  .main_vid video {
    height: 100%;
    width: auto;
  }

  #home .home_wrap .home_txt {
    width: 70%;
  }


}



/*노트북*/
@media screen and (max-width:1024px) {

  /*nav*/
  .hd_all hgroup {
    width: 30%;
  }

  .hd_all hgroup h1 img {
    max-width: 70%;
  }

  #home .home_wrap .home_txt {
    width: 90%;
  }

  /*home*/
  .home_txt_button {
    width: 70%;
  }

  /*service*/
  .service_wrap .service_img::before {
    width: 200px;
    height: 290px;
    top: -21%;
    left: 16%;
  }

  .service_wrap .service_img::after {
    top: -21%;
    right: -12%;
    width: 200px;
    height: 290px;
  }


  /* service2 */
  #service2 h5 {
    margin-bottom: 3%;
  }

  #service2 .service2_img {
    margin: 5% 0;
    padding: 12% 0;
  }

  /* wallet */

  #wallet .wallet_info .wallet_img::after {
    left: -1%;
    top: -71%;
  }

  #wallet .wallet_info .wallet_text button {
    padding: 5% 25%;
  }

  #wallet .wallet_info .wallet_text p {
    font-size: 14px;
  }

  /* token */
  #token .token_area .token_con .con_list li {
    padding: 12px 0;
    font-size: 14px;
  }

}



/*아이패드 (768px)*/
@media screen and (max-width:991px) {

  /*nav*/
  .menu_pc {
    display: none;

  }

  .menu_mobile_btn {
    display: block;
    width: 10%;
  }

  .menu_mobile_btn img {
    max-width: 80%;
  }

  .menu_moblie {
    display: none;
  }



  /*home*/
  #home .home_wrap .home_txt {
    width: 80%;
  }

  .home_txt_button {
    width: 90%;
  }

  /*project*/

  .prjct_box p {
    line-height: 1.6;
  }

  .prjct_box p br {
    display: none;
  }




  /*service*/
  .service_wrap .service_img::before {
    width: 180px;
    height: 250px;
    top: -15%;
    left: 18%;
  }

  .service_wrap .service_img::after {
    top: -15%;
    right: -25%;
    width: 180px;
    height: 250px;
  }

  .service_wrap .service_img img.service_pc {
    display: none;
  }

  .service_wrap .service_img img.service_m {
    display: block;
  }

  .service_txt p br {
    display: none;
  }

  /* wallet */
  #wallet {
    height: auto;
  }

  #wallet .wallet_info {
    flex-direction: column;
    align-items: center;
  }

  #wallet .wallet_info .wallet_img {
    width: 100%;
    margin: 4% 0;
  }

  #wallet .wallet_info .wallet_text {
    width: 90%;
    text-align: center;
  }

  #wallet .wallet_info .wallet_text button {
    padding: 3% 20%;
    margin-top: 7%;
  }

  #wallet .wallet_info .wallet_img::after {
    display: none;
  }


  /* token */

  #token .token_area .token_con {
    flex-direction: column;
  }

  #token .token_area .token_con .con_list {
    width: 100%;
  }

  #token .token_area .token_con .con_list li {
    margin-bottom: 20px;
  }

  #token .token_area .token_con .con_list li:hover {
    margin-bottom: 17px;
  }


  #token .token_area .token_con .con_img {
    width: 100%;
  }`

  /* roadmap */

  #roadmap .roadmap_area h3 {
    text-align: center;
  }

  #roadmap .roadmap_area .road_con {
    flex-direction: column;
  }

  #roadmap .roadmap_area .road_con .con {
    width: 90%;
  }

  #roadmap .roadmap_area .road_con .con:nth-child(2) {
    margin: 40px 0;
  }

}



/*모바일*/

@media screen and (max-width:767px) {
  /*service*/

  .service_wrap .service_img::before {
    display: none;
  }

  .service_wrap .service_img::after {
    display: none;
  }

  .service_wrap .service_img {
    width: 100%;
    margin: 6% 0;
  }

  /* service2 */
  #service2 h5 {
    margin-bottom: 6%;
  }

  #service2 .service2_img {
    width: 100%;
    justify-content: center;
  }

  #service2 .service2_img img {
    max-width: 80%;
  }

  #service2 .service2_img .img_w {
    display: none;
  }

  #service2 .service2_img .img_m {
    display: block;
  }

  #service2 h4 {
    margin-bottom: 8%;
  }

  #service2 .service2_text p {
    margin-top: 8%;
  }

  #service2 .service2_img {
    width: 100%;
    margin: 0 auto;
  }

  /* service3 */
  #service3 .service3_wrap h5 {
    margin-bottom: 8%;
  }

  #service3 .service3_wrap .service3_info {
    padding: 10% 10%;
  }

  /* service4 */
  #service4 {
    height: auto;
  }

  #service4 .service4_wrap h5 {
    margin-bottom: 8%;
  }

  #service4 .service4_wrap .service4_img {
    margin: 7% 0;
  }

  /* wallet */

  #wallet .wallet_info .wallet_img {
    width: 90%;
    margin: 10% 0;
  }
}


/*모바일2*/


@media screen and (max-width:576px) {

  /*nav*/
  .hd_all hgroup h1 img {
    max-width: 100%;
  }

  .menu_mobile_btn {
    width: 13%;
  }

  .menu_mobile_btn img {
    max-width: 100%;
  }

  .menu_moblie ul {
    padding: 25% 0;
  }

  .menu_moblie ul li {
    margin-bottom: 14%;
  }

  /*project*/

  .prjct_box {
    text-align: center;
  }

  /* service2 */
  #service2 h5 {
    margin-bottom: 5%;
  }


}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {

  /*nav*/

  .menu_moblie ul {
    padding: 20% 0;
  }



  /*home*/

  #home .home_wrap .home_txt h2 {
    font-size: 1.37rem;
  }

  #home .home_wrap .home_txt h1 {
    font-size: 7em;
  }

  .home_txt_button {
    width: 100%;
    flex-direction: column;
    margin: 10% auto 0;
  }

  .home_txt_button button {
    padding: 6% 23%;
  }

  .home_txt_button a {
    margin-bottom: 5%;
    width: 100%;
  }


  .home_txt_button a:last-child {
    margin-bottom: 0 !important;
  }

  /*service*/

  #service3 .service3_wrap .service3_info p br {
    display: none;
  }

  /* service4 */
  #service4 .service4_wrap .service4_img::after {
    display: none;
  }


}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {

  /* service4 */
  #service4 .service4_wrap h5 {
    margin-bottom: 10%;
  }

  #service4 .service4_wrap .service4_img::after {
    display: none;
  }
}